/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-page: url(../images/cover-image-light.png);
  --bg-title: #FF8DCB;
  --title-cover: #FFC2E6;
  --menu-color: #353430;
  --link-color: #353430;
  --menu-border: rgba(50, 49, 45, 0.4);
  --bold-font: 700;
  --medium-font: 400;
  --h2-color: #000028;
  --h1-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --h2-size: 18px;
  --h2-margin: 0 10px;
  --margin-inline-section: 10px;
}

.theme-light .page {
  .decoration {
    display: none;
  }

  .header:before {
    border-color: var(--menu-color);
  }
  .header:after {
    border-color: var(--menu-color);
  }

  .title {
    color: var(--menu-color);
  }

  .main__text {
    color: var(--menu-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-page: url(../images/cover-image-light.png);
  --bg-title: #FF8DCB;
  --title-cover: #FFC2E6;
  --menu-color: #353430;
  --link-color: #353430;
  --menu-border: rgba(50, 49, 45, 0.4); 
  --bold-font: 700;
  --medium-font: 400;
  --h2-color: #000028;
  --h1-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --h2-size: 18px;
  --h2-margin: 0 10px;
  --margin-inline-section: 10px;
}
}