/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-page: url(../images/cover-image-light.png);
  --bg-title: #FF8DCB;
  --title-cover: #FFC2E6;
  --menu-color: #353430;
  --link-color: #353430;
  --menu-border: rgba(50, 49, 45, 0.4);
  --bold-font: 700;
  --medium-font: 400;
  --section-title-color: #353430;
  --cover-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --section-title-size: 18px;
  --section-title-margin: 0 10px;
  --margin-inline-section: 10px;
  --decor-color: #353430;
  --section-color: #353430;
  --main-color: #353430;
  --decoration-block: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-page: url(../images/cover-image-light.png);
  --bg-title: #FF8DCB;
  --title-cover: #FFC2E6;
  --menu-color: #353430;
  --link-color: #353430;
  --menu-border: rgba(50, 49, 45, 0.4);
  --bold-font: 700;
  --medium-font: 400;
  --section-title-color: #353430;
  --cover-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --section-title-size: 18px;
  --section-title-margin: 0 10px;
  --margin-inline-section: 10px;
  --decor-color: #353430;
  --section-color: #353430;
  --main-color: #353430;
  --decoration-block: none;
}
}