/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex mono', Bold, Regular, sans-serif;
  min-width: 375px;
  background-image: var(--bg-page);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  margin-block-end: 106px;
  font-weight: var(--bold-font);
  font-size: var(--section-title-size);
  line-height: 23.4px;
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  display: block;
  border-top: 1px var(--decor-color) solid;
  border-right: 1px var(--decor-color) solid;
  justify-self: flex-end;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  display: block;
  border-left: 1px var(--decor-color) solid;
  border-bottom: 1px var(--decor-color) solid;
  justify-self: flex-start;
  align-self: flex-end;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: -55px;
}

.cover__title {
  width: 355px;
  font-size: var(--cover-title-size);
  font-weight: var(--bold-font);
  line-height: 83%;
  color: var(--title-cover);
  margin: 68px 10px 38px 10px;
  text-shadow: 4px 4px 0px var(--bg-title);
}

.title {
  font-weight: var(--bold-font);
  font-size: var(--section-title-size);
  color: var(--section-title-color);
  background-color: var(--bg-title);
  width: 100%;
  max-height: fit-content;
}

.header__title {
  justify-self: center;
  width: calc(100% - 20px);
  margin-block-start: 20px;
}

.title_margin {
  margin-block-start: 20px;
}

.section__subtitle {
  font-weight: var(--medium-font);
}

.decoration {
  display: var(--decoration-block);
  justify-self: flex-end;
  align-self: flex-start;
  position: absolute;
  color: var(--bg-title);
  font-weight: var(--medium-font);
  font-size: var(--section-title-size);
  line-height: 25px;
  top: 10px;
  right: 29px;
}

.decoration::after {
  content: " ";
  position: relative;
  display: block;
  background-color: var(--bg-title);
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px var(--bg-title);
  border-radius: 50%;
  top: 8px;
  left: 10px;
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: flex-start;
  margin: 75px 10px 0 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: var(--medium-font);
  font-size: var(--section-title-size);
  line-height: 18px;
  color: var(--menu-color);
}

.header__theme-menu-item {
  display: grid;
  min-width: 70px;
}

.header__theme-menu-button {
  appearance: none;
  background: none;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  padding: 1.5px 13px;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-border);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid var(--menu-color);
}

.section__title {
  font-weight: var(--bold-font);
  font-size: var(--section-title-size);
  color: var(--section-color);
  grid-area: section__title;
}

.main__text {
  font-weight: var(--medium-font);
  font-size: var(--section-title-size);
  margin-block-start: 10px;
  color: var(--main-color);
}

.text-shadow {
  text-shadow: 1px 1px 0px var(--bg-title);
  text-decoration: none;
  color: var(--link-color);
}

.text-shadow:hover {
  border-bottom: 1px solid var(--link-color);
}

.text-shadow:focus-visible {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--link-color);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section__concentrate {
  display: grid;
  line-height: 23.4px;
  row-gap: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  justify-items: flex-start;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
  grid-template-areas: 
  'section__title'
  'section_title_main'
  'section_title_dopamine'
  ;
}

.section__multitasking {
  margin-block-start: 50px;
  display: grid;
  line-height: 23.4px;
  row-gap: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  justify-items: flex-start;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
  grid-template-areas: 
  'section__title'
  'section_title_main'
  'section_title_dopamine'
  'section_title_gadgets'
  ;
}

.section__advice {
  margin-block-start: 48px;
  display: grid;
  line-height: 23.4px;
  row-gap: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  justify-items: flex-start;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
  grid-template-areas: 
  'section__title'
  'section_title_main'
  'section_title_gadgets'
  'section_title_walk'
  'section_title_food'
  'section_title_read'
  ;
}

.image__section {
  display: grid;
  line-height: 23.4px;
  margin-block-start: 48px;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  gap: 10px;
  grid-template-areas: 
  'section_title_main'
  'img__sunset'
  'img__ice-cream'
  'img__tape'
  'img__books'
  'img__street'
}

.image__section .title {
  margin: initial;
}

.img__sunset {
  grid-area: img__sunset;
}

.img__ice-cream {
  grid-area: img__ice-cream;
}

.img__tape {
  grid-area: img__tape;
}

.img__books {
  grid-area: img__books;
}

.img__street {
  grid-area: img__street;
}

.footer {
  min-height: 668px;
  display: grid;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  margin-block-start: 40px;
}

.footer .decorated-zone::before {
  left: 10px;
  bottom: 10px;
}

.footer__title {
  font-weight: var(--bold-font);
  font-size: var(--cover-title-size);
  color: var(--title-cover);
  text-shadow: 2px 2px 0px var(--bg-title);
  line-height: 83%;
}

.section_title_main {
  grid-area: section_title_main;
}

.section_title_dopamine {
  grid-area: section_title_dopamine;
  font-weight: var(--medium-font);
}

.section_title_gadgets {
  grid-area: section_title_gadgets;
  font-weight: var(--medium-font);
}

.section_title_walk {
  grid-area: section_title_walk;
  font-weight: var(--medium-font);
}

.section_title_food {
  grid-area: section_title_food;
  font-weight: var(--medium-font);
}

.section_title_read {
  grid-area: section_title_read;
  font-weight: var(--medium-font);
} 

@media (width >= 768px) {

  .page {
    min-width: 768px;
  }

  .header {
    justify-content: initial;
    min-width: 768px;
    min-height: 1024px;
    margin-block-end: 60px;
  }
  
  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }
  
  .decoration {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }
  
  .header__theme-menu-list {
    gap: 15px;
  }

  .header__theme-menu {
    align-self: center;
    margin: 150px 20px 0 0;
  }

  .header__title {
    width: 364px;
    min-height: 117px;
    justify-self: flex-end;
    align-self: auto;
    margin-inline-end: 20px;
    margin-block-start: 70px;
  }

  .cover__title {
    justify-self: flex-start;
    margin: initial;
    width: 100%;
    margin-block-start: 130px;
  }

  .main__text {
    margin-block-start: 10px;
  }

  .section__concentrate {
    display: grid;
    row-gap: 0;
    column-gap: 20px;
    row-gap: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    justify-items: flex-start;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
    grid-template-areas: 
    'section__title section_title_main'
    'section__title section_title_dopamine'
    ;
  }

  .section__multitasking {
    margin-block-start: 78px;
    display: grid;
    row-gap: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    justify-items: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
    grid-template-areas: 
    'section__title'
    'section_title_main'
    'section_title_dopamine'
    'section_title_gadgets'
    ;
  }

  .section__multitasking .section__title {
    margin-block-end: 25px;
  }

  .section__advice {
    margin-block-start: 80px;
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    justify-items: flex-start;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
    grid-template-areas: 
    'section__title section_title_main'
    'section__title section_title_gadgets'
    'section__title section_title_walk'
    'section__title section_title_food'
    'section__title section_title_read'
  ;
  }

  .image__section {
    margin-block-start: 80px;
    display: grid;
    gap: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-template-areas: 
    'section_title_main section_title_main section_title_main'
    'img__sunset img__sunset img__ice-cream'
    'img__tape img__books img__ice-cream'
    'img__tape img__street img__street';
  }

.footer {
  min-height: 1024px;
  margin-block-start: 60px;
}

.footer .decorated-zone::before {
  left: 20px;
  bottom: 20px;
}

.footer .decorated-zone::after {
  right: 20px;
  top: 20px;
}

}
@media (width >= 1024px) {
  .page {
    min-width: 1024px;
  }

  .header .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .header {
    min-width: 1024px;
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin: initial;
    margin-block-start: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .cover__title {
    margin-block-start: 210px;
    font-size: 157px;
  }

  .header__title {
    width: 491px;
    min-height: initial;
    margin-block-start: 45px;
    margin-block-end: 0px;
  }

  .section__concentrate {
    column-gap: 10px;
  }

  .section__multitasking .title {
    width: 100%;
    margin: 0;
  }

  .section__multitasking {
  margin-block-start: 78px;
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  justify-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
  grid-template-areas: 
  'section__title section__title section__title'
  'section_title_main section_title_dopamine section_title_gadgets'
  ;
  }

  .section__multitasking .section__title {
    margin-block-end: 0;
  }

  .section__advice {
    column-gap: 10px;
  }

  .main__text {
    margin-inline-end: initial;
    margin-inline-start: initial;
  }

  .image__section {
    grid-template-columns: repeat(1, minmax(315px, 1fr));
  }

  .footer {
    min-height: 768px;
    margin-block-start: 60px;
  }

  .footer__title {
    font-size: 157px;
    margin-block-start: 0;
  }

  .footer .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .footer .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }
}