/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex mono', Bold, Regular, sans-serif;
  min-width: 375px;
  background-image: var(--bg-page);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  margin-block-end: 106px;
  font-weight: var(--bold-font);
  font-size: var(--section-title-size);
  line-height: 23.4px;
}

.text-style {
  font-weight: var(--bold-font);
  font-size: var(--section-title-size);
  line-height: 23.4px;
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  display: block;
  border-top: 1px var(--decor-color) solid;
  border-right: 1px var(--decor-color) solid;
  justify-self: flex-end;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  display: block;
  border-left: 1px var(--decor-color) solid;
  border-bottom: 1px var(--decor-color) solid;
  justify-self: flex-start;
  align-self: flex-end;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
}

.cover__title {
  width: 355px;
  font-size: var(--cover-title-size);
  font-weight: var(--bold-font);
  line-height: 83%;
  color: var(--title-cover);
  margin: 68px 10px 38px 10px;
  text-shadow: 4px 4px 0px var(--bg-title);
}

.title {
  color: var(--section-title-color);
  background-color: var(--bg-title);
  width: 100%;
  max-height: fit-content;
}

.header__title {
  justify-self: center;
  width: calc(100% - 20px);
  margin-block-start: 20px;
}

.decoration {
  display: var(--decoration-block);
  justify-self: flex-end;
  align-self: flex-start;
  position: absolute;
  color: var(--bg-title);
  font-weight: var(--medium-font);
  font-size: var(--section-title-size);
  line-height: 25px;
  top: 10px;
  right: 29px;
}

.decoration::after {
  content: " ";
  position: relative;
  display: block;
  background-color: var(--bg-title);
  width: 9px;
  height: 9px;
  box-shadow: 0 0 4px 2px var(--bg-title);
  border-radius: 50%;
  top: 8px;
  left: 10px;
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: flex-start;
  margin: 75px 10px 0 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: var(--medium-font);
  font-size: var(--section-title-size);
  line-height: 18px;
  color: var(--menu-color);
}

.header__theme-menu-item {
  display: grid;
  min-width: 70px;
}

.header__theme-menu-button {
  appearance: none;
  background: none;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  padding: 1.5px 13px;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-border);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid var(--menu-color);
}

.section__title {
  color: var(--section-color);
}

.main__text {
  font-weight: var(--medium-font);
  margin-block-start: 10px;
  color: var(--main-color);
}

.text-shadow {
  text-shadow: 2px 2px 0px var(--bg-title);
  text-decoration: none;
  color: var(--link-color);
}

.text-shadow:hover {
  border-bottom: 1px solid var(--link-color);
}

.text-shadow:focus-visible {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--link-color);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section__subtitle {
  font-weight: var(--medium-font);
  margin-block-start: 20px;
}

.section__advice .section__title {
  margin-block-end: 20px;
}

.section__concentrate {
  display: grid;
  row-gap: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  justify-items: flex-start;
}

.section__multitasking {
  margin-block-start: 50px;
  display: grid;
  row-gap: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  justify-items: flex-start;
}

.section__advice {
  margin-block-start: 48px;
  display: grid;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  justify-items: flex-start;
}

.image__section {
  display: grid;
  margin-block-start: 48px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  gap: 10px;
}

.footer {
  min-height: 668px;
  display: grid;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  margin-block-start: 40px;
}

.footer__title {
  font-weight: var(--bold-font);
  font-size: var(--cover-title-size);
  color: var(--title-cover);
  text-shadow: 2px 2px 0px var(--bg-title);
  line-height: 83%;
}

@media (width >= 768px) {

  .header {
    justify-content: initial;
    min-height: 1024px;
    margin-block-end: 60px;
  }
  
  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }
  
  .decoration {
    margin-block-start: 10px;
    margin-inline-end: 10px;
  }

  .header__theme-menu {
    align-self: center;
    margin: 150px 20px 0 0;
  }

  .header__title {
    width: 364px;
    justify-self: flex-end;
    align-self: auto;
    margin-inline-end: 20px;
    margin-block-start: 70px;
  }

  .cover__title {
    justify-self: flex-start;
    margin: initial;
    width: 100%;
    margin-block-start: 130px;
  }

  .main__text {
    margin-block-start: 10px;
  }

  .section__concentrate {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    column-gap: 20px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .section__concentrate .section__title {
    grid-column: 1;
  }

  .section__concentrate .section_title_main {
    grid-column: 2;
  }

  .section__multitasking {
    margin-block-start: 80px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    grid-auto-flow: row;
    grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
  }

  .section__advice {
    margin-block-start: 80px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    column-gap: 20px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
  }

  .section__advice .section__title {
    margin-block-end: 0;
}

  .section__advice .title {
    grid-column: 2;
  }

  .section__advice .section__title {
    grid-column: 1;
  }

  .section__advice .section_title_main {
    grid-column: 2;
  }

  .image__section {
    margin-block-start: 80px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .image__section .title {
    grid-column: 1 / 4;
  }

  .img__sunset {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .img__ice-cream {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .img__tape {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .img__books {
    grid-column: 2;
    grid-row: 3;
  }

  .img__street {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  .footer {
    min-height: 1024px;
    margin-block-start: 60px;
  }

}
@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin: initial;
    margin-block-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .cover__title {
    margin-block-start: 210px;
    font-size: 157px;
  }

  .header__title {
    width: 491px;
    margin-block-start: 45px;
  }

  .section__concentrate {
    column-gap: 10px;
  }

  .section__advice {
    column-gap: 10px;
  }

  .section__multitasking {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .section__multitasking .section__title {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .footer {
    min-height: 768px;
    margin-block-start: 60px;
  }

  .footer__title {
    font-size: 157px;
  }
}