:root {
  --bg-page: url(../images/cover-image-dark.png);
  --bg-title: #FF0070;
  --title-cover: #DB00FF;
  --menu-color: #ff0070;
  --link-color: #F1B2CE;
  --menu-border: rgba(255, 112, 102, 0.4);
  --bold-font: 700;
  --medium-font: 400;
  --section-title-color: #000028;
  --cover-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --section-title-size: 18px;
  --section-title-margin: 0 10px;
  --margin-inline-section: 10px;
  --decor-color: #FF0070;
  --main-color: #F1B2CE;
  --section-color: #FF0070;
  --decoration-block: flex;
}